<!-- views/partials/footer.ejs -->
<footer class="container">
    <p class="float-end"><a href="#">Back to top</a></p>
    <p>© 2017–2025 Company, Inc. · <a href="#">Privacy</a> · <a href="#">Terms</a></p>
  </footer>
  
  <!-- Bootstrap Bundle JS -->
  <script defer="" src="/docs/5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq"></script>
  </body>
  </html>
  