<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="mb-auto">
    <div>
      <h3 class="float-md-start mb-0 text-white">A.G MSc AMIMechE</h3>
      <nav class="nav nav-masthead justify-content-center float-md-end">
        <a class="nav-link fw-bold py-1 px-3 text-white active" aria-current="page" href="/">Home </a>
        <a class="nav-link fw-bold py-1 px-3 text-white" href="/work">My Work </a>
        <a class="nav-link fw-bold py-1 px-3 text-white" href="/about">About me </a>
        <a class="nav-link fw-bold py-1 px-3 text-white" href="/contact">Contact </a>
      </nav>
    </div>
  </header>
